core-header-panel {
    border-radius: 5px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    background: #FFFFFF;
    border: 1px solid #eeeeee;
    max-height: 400px;
    height: 100%; }

core-toolbar {
    background: #eeeeee;
    color: #000000;
    display: block;
    padding: 0px; }

paper-tabs#tabs {
    width: 100%;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-transform: uppercase;
    font-size: 12px;
    display: block; }
paper-tabs#tabs .subtext {
    font-size: 11px; }
paper-tabs#tabs::shadow #selectionBar {
    background-color: #5fa90a; }

#teaser paper-item {
    border: 1px solid #f5f5f5;
    border-collapse: collapse; }

#full paper-item {
    background: inherit; }
#full .itemsList div.listItem {
    border-bottom: 1px solid #f5f5f5; }
#full #detailsWrapper {
    padding: 5px; }
#full .closeButton {
    margin-left: 0.1em; }
#full #detailsDialog {
    position: absolute;
    width: 100%; }
#full #itemDetails {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 5px; }

.itemPrimaryText {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px; }

.itemSecondaryText {
    padding-top: 5px;
    color: #8e8e8e;
    font-size: 12px; }

.infoIcon {
    color: #8e8e8e;
    width: 20px;
}
